* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
} 

#Logo{
  border: 3px solid black; 
     /*background-color: rgba(255,0,0,0.5);*/
      padding: 0% 0% 0% 0%;
      display: inline;
  
    margin: .5% .5% .5% 25%;  
  }

  h1 { font-family: 'Limelight', cursive, serif;
     /* background-color: red;*/
     border: 5px solid white; 
     background-color: rgba(255,0,0,0.5);
      padding: 24px;
      display: inline-block;
      font-weight: 400;
      font-size: 38px;
      text-shadow: 4px 4px 4px #aaa; 
      text-transform: capitalize;
    }

  #logo img {
    width: 100%;
  }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/*   ----------------- Large nav ----------------- */
.nav_lg ul {
    list-style: none;
    margin: .5em;
}

.nav_lg li {
  display: inline;
  padding: 1em;
}

.nav_lg li a {
  text-decoration: none;
  font-weight: 800;
}

 
/*   ----------------- Small Nav ---------------- */

.nav_sm {
  display: none;
}

.nav_sm ul {
  list-style: none;
  margin: .5em;
  background:#ffffff;
}

.nav_sm li {
    padding: 1em;
    background: #ffffff;
}

.nav_sm li:hover {
  background: red;
}

.nav_sm li a{
  text-decoration: none;
  color: #333333;
  font-weight: 800%;
}

.nav_sm li a:hover {
  text-decoration: none;
  /*color: #333333;
  font-weight: 800;*/
}

/* ------------------ Toggle Menu ----------------- */
label {
      cursor: pointer;
  }

#menu-toggle {
  display: none;  /* hide the checkbox */
}

#menu {
  display: none;  /* hide the menu items */
}

#menu-toggle:checked + #menu {
  display: block;
}

nav {
  /*width: 960px;*/
  width: auto;
  height: auto;
  margin: 1% 1% 1% 1%;
  border: 3px solid black;
  margin-top: 5px;
  display: block;
  background-color: #66BB66;
  font-family: Limelight, cursive, serif;
  font-size:  11px;
  text-transform: uppercase;
  clear:both;
}

nav a {
  /*border: 3px solid yellow;*/
  background-color: #FF8855;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  clear:both;
}

nav a:hover {
  border: 3px solid white;
  background-color: #66BB66;
}

nav ul {
    border: 3px solid black;
    padding: 12px;
    margin: 15px;
    list-style: none;
    position: relative;
    display: inline-block;
    }
     
nav ul li {
    /*border: 1px solid blue;*/
    float:left;
    display:list-item;
    list-style: none; 
    background-color:#64abfb;
    /*border-bottom: 5px solid #2ecc71;*/
    }
  
nav ul li a {
   /* border: 3px solid red;*/
  display:inline-block;
    padding:15px 10px;  
     
    color:#FFF;
    font-size:20px;
    text-decoration:none;
  /* font-family: 'Bree Serif', 'serif';*/
}
 

li a:hover { background-color: #2ecc71; }

/* The Dropdown Styles */
/* =================== */
  
/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute; top: 58px;
}
     
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:list-item;
}
     
/* First Tier Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    position: relative;
    border-bottom:none;
}
  
/* Second, Third and more Tiers */
nav ul ul ul li {
    position: absolute relative;
    top:-58px; 
    left:170px;
}

/* Change this in order to change the Dropdown symbol */
li > a:after { content: ' >>'; } 
li > a:only-child:after { content: ''; }


img.custom {
  width: 16%;
  height: 16%;
/*  width: 200px;
  height: 95px;*/
}

img.align-left {
  float: left;
  margin-right: 0px;
}
img.large {
  width: 500px;
  height: 500px;
}
img.medium {
  padding:15px;
  width: 250px;
  height: 250px;
}


img.small {
  width: 250px;
  height: 95px;
}
img.align-right {
  float: right;
  margin-left: 10px;
}


 /*   <<<<<  Media Queries >>>>> */

.small-inline-photos{
  float:left;
  position: absolute;
  
}
  @media screen and (max-width:960px){

      nav {
          width: 100%;
          margin: 1em;
          float: left;
          clear: both;
      }

  

      .nav_sm {
        display: block;
      }

   
      .nav_lg {
          display: none;
      }
  } 