* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*border: 3px solid red;*/
  background-color: #FF8855;
  margin 0px;
  font-family: "Times New Roman" , serif;
  font-weight: 100;
  font-size: 16px;
  color:blue;
}

#container {
  /*border: 3px solid black;*/
  /*width: 960px;*/
  width: 64em;
  margin: 0px auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}



/*   ----------------- Large nav ----------------- */
.nav_lg ul {
    list-style: none;
    margin: .5em;
}

.nav_lg li {
  display: inline;
  padding: 1em;
}

.nav_lg li a {
  text-decoration: none;
  font-weight: 800;
}

 

/*   ----------------- Small Nav ---------------- */

.nav_sm {
  display: none;
}

.nav_sm ul {
  list-style: none;
  margin: .5em;
  background:#ffffff;
}

.nav_sm li {
    padding: 1em;
    background: #ffffff;
}

.nav_sm li:hover {
  background: red;
}

.nav_sm li a{
  text-decoration: none;
  color: #333333;
  font-weight: 800%;
}

.nav_sm li a:hover {
  text-decoration: none;
  /*color: #333333;
  font-weight: 800;*/
}

/* ------------------ Toggle Menu ----------------- */
label {
      cursor: pointer;
  }

#menu-toggle {
  display: none;  /* hide the checkbox */
}

#menu {
  display: none;  /* hide the menu items */
}

#menu-toggle:checked + #menu {
  display: block;
}

header {
  /*background: url("../logo/cubanartdeco.jpg");
  background-repeat:  repeat-x;*/
/*  width: 960px;
  height: 52px;*/
  /*text-align: left;
  padding: 10px;
  display: inline;*/
  /*margin: 0px auto;*/
 }

#Logo{
  border: 3px solid black; 
     /*background-color: rgba(255,0,0,0.5);*/
      padding: 0% 0% 0% 0%;
      display: inline;
      /*text-shadow: 3px 3px 3px #aaa; */
      
    margin: .5% .5% .5% 25%;
 
  /*float: left;*/
  
  }

  

  #logo img {
    width: 100%;
  }

h1 { font-family: 'Limelight', cursive, serif;
     /* background-color: red;*/
     border: 5px solid white; 
     background-color: rgba(255,0,0,0.5);
      padding: 24px;
      display: inline-block;
      font-weight: 400;
      font-size: 38px;
      text-shadow: 4px 4px 4px #aaa; 
      text-transform: capitalize;
    }

aside {
  background-color: #66BB66;
  border: 3px solid black;
  float: left;
  color:black;
  font-size: 28px;
  /*height:400px;
  width: 340px;*/
  /*height: auto;*/
  width: 45%;
  padding:  0 2% 2% 5% ;
  margin: 0% 0% 1% 1%;
}

nav {
  /*width: 960px;*/
  width: auto;
  height: auto;
  margin: 1% 1% 1% 1%;
  border: 3px solid black;
  margin-top: 5px;
  display: block;
  background-color: #66BB66;
  font-family: Limelight, cursive, serif;
  font-size:  11px;
  text-transform: uppercase;
  clear:both;
}

nav a {
  /*border: 3px solid yellow;*/
  background-color: #FF8855;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  clear:both;
}

nav a:hover {
  border: 3px solid white;
  background-color: #66BB66;
}

nav ul {
    border: 3px solid black;
    padding: 12px;
    margin: 15px;
    list-style: none;
    position: relative;
    display: inline-block;
    }
     
nav ul li {
    /*border: 1px solid blue;*/
    float:left;
    display:list-item;
    list-style: none; 
    background-color:#64abfb;
    /*border-bottom: 5px solid #2ecc71;*/
    }
  
nav ul li a {
   /* border: 3px solid red;*/
  display:inline-block;
    padding:15px 10px;  
     
    color:#FFF;
    font-size:20px;
    text-decoration:none;
  /* font-family: 'Bree Serif', 'serif';*/
}
  
li a:hover { background-color: #2ecc71; }

/* The Dropdown Styles */
/* =================== */
  
/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute; top: 58px;
}
     
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:list-item;
}
     
/* First Tier Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    position: relative;
    border-bottom:none;
}
  
/* Second, Third and more Tiers */
nav ul ul ul li {
    position: absolute relative;
    top:-58px; 
    left:170px;
}

/* Change this in order to change the Dropdown symbol */
li > a:after { content: ' >>'; } 
li > a:only-child:after { content: ''; }     




/*.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
 */

 footer {
  border: 5px solid black;
  /*width: 960px;*/
  width: 100%;
  height: 100%;
  clear:both;
 	background-color: #FF8855;
 	text-align: center;
 	padding: 20px;
 }

 .column {
    border: 3px solid black;
 		float: right;
    height: auto;
    width: auto;
 		/*height: 375px;
    width:  297px;*/
 		padding: 15px;
 		margin: 2px;
 }

 #column1{
 	background-color: #66bb66;
 }
 #column2 {
 	background-color: #66bb66;
 	 }

 #column3 {
 	background-color: #66BB66;
 }

img.custom {
  width: 16%;
  height: 16%;
/*  width: 200px;
  height: 95px;*/
}

img.large {
  width: 500px;
  height: 500px;
}

img.medium {
  width: 350px;
  height: 350px;
}

img.small {
  width: 250px;
  height: 95px;
}

img.align-left {
  float: left;
  margin-right: 0px;
}

img.align-right {
  float: right;
  margin-left: 10px;
}

img.medium {
  padding:15px;
  width: 250px;
  height: 250px;
}

img.align-center {
  padding: 25px;
  display: block;
  margin: 0px auto;
}

#carousel {
    /*width: 480px;*/
    width: 600px;
    height: 375px;
    overflow:hidden;
  }

  #carousel ul {
    width: 1920px;
 /*   width:auto;*/
    padding: 0;
    margin: 0;
  }

  #carousel ul li {
    /*width:480px;*/
    width: 600px;
    text-align: right;
    height: 280px;
    list-style: none;
    float: left;
  }

  /*   <<<<<  Media Queries >>>>> */


  @media screen and (max-width:580px){

      nav {
          width: 100%;
          margin: 1em;
          float: left;
          clear: both;
      }

  

      .nav_sm {
        display: block;
      }

   
      .nav_lg {
          display: none;
      }
  } 

/* iphone portrait or landscape (up to 480px) */
/*@media all and (max-width: 480px) {
   footer, aside { width: 100%;
        display: block;
        float:left;}
}
*/

/* ipad portrait (up to 768px) */
/*@media all and (min-width:481px) and (max-width: 768px) {
     footer, aside {
          width:50%;
    }
}*/
/* ipad landscape (up to 1024px) */
/*@media all and (min-width: 769px) and (max-width: 1024px) {
     footer, aside {
            width: 33.33%;
    }
}*/

/* all screens > 1024px */
/*@media all and (min-width: 1025px) {
      footer {
        width: 100%;
    }
}*/
    
/*
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}*/